@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
}

a {
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
}

span {
  font-family: Montserrat, sans-serif;
}

@theme {
  /*
  Custom color palettes
  */
  --color-*: initial;

  --color-lines: #edf2f7;

  --color-light-header: #1a365d;
  --color-light-bg: #f7fafc;
  --color-light-bodytext: #4a5568;
  --color-light-democrat: #3182ce;
  --color-light-republican: #c53030;
  --color-light-success: #38a169;
  --color-light-warning: #d69e2e;
  --color-light-link: #2d3748;

  --color-dark-header: #f7fafc;
  --color-dark-bg: #0c0f14;
  --color-dark-content: #1a1e26;
  --color-dark-bodytext: #9ca3af;
  --color-dark-democrat: #60a5fa;
  --color-dark-republican: #f87171;
  --color-dark-success: #4ade80;
  --color-dark-warning: #fbbf24;
  --color-dark-link: #cbd5e0;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f1f5f8;
    opacity: 0.8;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(
      45deg,
      #d5d9de 0,
      #d5d9de 0.7000000000000001px,
      #f1f5f8 0,
      #f1f5f8 50%
    );
  }

  .active {
    color: #1a365d;
    border-bottom-color: #3182ce;
    font-weight: 600;
  }

  a:hover {
    color: #3182ce;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000000;
    opacity: 1;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(
      45deg,
      #282a2f 0,
      #282a2f 0.7000000000000001px,
      #000000 0,
      #000000 50%
    );
  }

  .active {
    color: #ffffff;
    border-bottom-color: #4299e1;
    font-weight: 600;
  }

  a:hover {
    color: #4299e1;
  }
}
