@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  background-color: #f7fafc;
}

span {
  font-family: Playfair Display, serif;
}

@theme {
  /*
  Custom color palettes
  */
  --color-*: initial;

  --color-lines: #edf2f7;

  --color-light-header: #1a365d;
  --color-light-bg: #f7fafc;
  --color-light-bodytext: #4a5568;
  --color-light-democrat: #3182ce;
  --color-light-republican: #c53030;
  --color-light-success: #38a169;
  --color-light-warning: #d69e2e;

  --color-dark-header: #e2e8f0;
  --color-dark-bg: #1a202c;
  --color-dark-content: #2d3748;
  --color-dark-bodytext: #a0aec0;
  --color-dark-democrat: #4299e1;
  --color-dark-republican: #f56565;
  --color-dark-success: #48bb78;
  --color-dark-warning: #ed8936;
}
